<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p>First posted</p>
    </div>
    <div class="col-md-2">
      <p>Poster</p>
    </div>
    <div class="col-md-6">
      <p>Content</p>
    </div>
    <div class="col-md-2">
      <p>Actions</p>
    </div>
  </div>
  <% if @posts %>
  <% @posts.each do |item| %>
  <% if item %>
    <div class="row">

      <div class="col-md-2">
        <p><%= item.created_at.to_date %></p>
      </div>
      <div class="col-md-2 gravatar">
        <img src="<%= Faker::Avatar.image %>" />
      </div>
      <div class="col-md-6 move-down">
        <div class="bubble joiner">
          <p>Today be like... <%= item.content %></p>
        </div>
      </div>
      <div class="col-md-2">
        <a href="/posts/<%= item.id %>/edit" style="float: left;">
          <button type="button" class="btn btn-warning">Edit</button>
        </a><p style="float: left;">&nbsp;</p>
        <form method="post" style="float: left;">
          <input type="hidden" name="id" value="<%= item.id %>" />
          <input name="_method" type="hidden" value="delete" />
          <input type="submit" class="btn btn-danger" value="DEL">
        </form>
      </div>
    </div>
    <% end %>
    <% end %>
  <% end %>
</div>

