<div class="profile">
<div class="row yellow">
  <div class="col-md-1">&nbsp;</div>
  <div class="col-md-4">
    <img src="<%= @user_img_url %>" />
		<h2><%= @user_profile.username %></h2>
    <h4><%= @user_profile.email %></h4>
    <form action="/users/<%= @user_profile.id %>" method= "post">
     <input type="hidden" name="_method" value="put" />
     <input type="submit" value="Follow" class="btn btn-success">
    </form>
  </div>
  <div class="col-md-6">
    <h2>Recent posts</h2>
    <ul>
      <% @user_profile.posts.each do |post| %>
        <li><%= post.content %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-1">&nbsp;</div>
</div>
<div class="row blue">
  <div class="col-md-1">&nbsp;</div>
  <div class="col-md-10">
    <h2> Following </h2>
  <div class="col-md-1">&nbsp;</div>
  </div>
</div>
<div class="row blue">
  <div class="col-md-1">&nbsp;</div>
  <% if @user_profile.user_id.length > 0 %>
    <% @user_profile.user_id.each do |following| %>
      <div class="col-md-2">
	  	  <h3><a href="/profile/<%= following.id %>"><%= following.username %></a></h3>
        <% if following.posts.length > 0 %>
				  <p><%=following.posts.last.content%></p>
			  <% end%>
		  </div>
	  <% end %>
	<%else%>
    <div class="col-md-10">
    	<p>Not following anyone. Head to Discover to Discover to find interesting Days.</p>
    </div>
  <% end %>
  <div class="col-md-1">&nbsp;</div>
</div>
</div>
