<% panel_colours = ["panel-blue", "panel-yellow", "panel-red", "panel-green", "panel-purple"].sample %>
<%

 %>
<section class="row">
  <div class="panel-yellow">
    <div class="panel-heading">
    <img src="<%=@user_img_url%>">
			<p><%= @user_profile.username %></p>
			<p><%= @user_profile.email %></p>
    </div>
    <div class="panel-body">
      <% @user_profile.posts.each do |post| %>
				<p><%= post.content %></p>
			<% end %>
    </div>
  </div>
</section>

<h3> Following </h3>

<% if @user_profile.user_id.length > 0 %>
	<% @user_profile.user_id.each do |following| %>
	<section class="row">
	  <div class="<%= panel_colours %>">
	    <div class="panel-heading">
				<p><%=following.username%></p>
	    </div>
	    
	    <div class="panel-body">
	    	<% if following.posts.length > 0 %>
					<p><%=following.posts.last.content%></p>
				<% end%>
			</div>
	  </div>
	</section>
	<% end %>
	<%else%>
	<h3>Not following anyone. Head to Discover to Discover to find interesting Days.</h3>
<% end %>