<% panel_colours = ["panel-blue", "panel-yellow", "panel-red", "panel-green", "panel-purple"].sample %>
<%

%>

<div class="container">
  <section class="row">
    <div class="panel-yellow col-lg-12">
        <div class="panel-heading">
          <!-- <div class="col-lg-6 pull-left"> -->
            <img src="<%=@user_img_url%>">
            <p><%= @user_profile.username %></p>
            <p><%= @user_profile.email %></p>
          <!-- <div> -->
        </div>

    </div>
  </section>


  <section class="row">
    <div class="panel-yellow col-lg-12">
      <div class="panel-body">
        <div class="status-upload col-sm-offset-3 col-lg-6">
          <% @user_profile.posts.each do |post| %>
            <p><%= post.content %></p>
          <% end %>
        </div>
      </div>
    </div>
  </section>

        <h3> Following </h3>


        <% @user_profile.followed_id.each do |followed| %>
        <section class="row">
         <div class="<%= panel_colours %>">
           <div class="panel-heading">
                    <p><%=followed.username%></p>
           </div>
           <div class="panel-body">
                        <p><%=followed.posts.last.content%></p>
                    </div>
         </div>
        </section>
        <% end %>


</end>