
<style>
.profile-banner {
  background-color: #F39C12;
}
.profile-banner img {
  height: 160px;
  width: 160px;
}
.recent-posts {
  margin-top: 1rem;
  padding: 2rem;
  background-color: #fff;
}
</style>
<% "require 'faker'" %>
<div class="container">
  <div class="row profile-banner">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-4">
      <img src="<%=@user_img_url%>" />
      <p><%= @user_profile.username %></p>
      <p><%= @user_profile.email %></p>
    </div>
    <div class="col-md-6">
      <div class="recent-posts">
        <% @user_profile.posts.each do |post| %>
          <p><%= post.content %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-1">&nbsp;</div>
  </div>
  <div class="row">
    <h3> Following </h3>
    <% @user_profile.followed_id.each do |followed| %>
      <div class="col-md-1">
        <img src="<% Faker::Avatar.image %>">
      </div>
      <div class="row">
        <p><%=followed.posts.last.content%></p>
      </div>
    <% end %>
  </div>
</div>
